@using Tickest.Models.ViewModels;
@model UsuarioRegisterViewModel

@{
    Layout = "_LayoutGerenciador";
    ViewBag.Title = "Cadastro";
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">
                        <!-- Basic -->
                        <div class="col-md-6">
                            <div class="card mb-4">
                                <h5 class="card-header">Adicionar Colaborador</h5>
                                <div class="card-body demo-vertical-spacing demo-only-element form-group">

                                    <label asp-for="Nome" class="form-label" for="basic-default-password12">Nome</label>
                                    <div class="input-group">
                                        <input asp-for="Nome" type="text"
                                               class="form-control"
                                               placeholder="Nome do Colaborador"
                                               aria-label="Username"
                                               aria-describedby="basic-addon11" />
                                    </div>

                                    <label asp-for="Email" class="form-label" for="basic-default-password12">Email</label>
                                    <div class="input-group">
                                        <input asp-for="Email" type="text"
                                               class="form-control"
                                               placeholder="Email do Colaborador"
                                               aria-label="Username"
                                               aria-describedby="basic-addon11" />
                                    </div>

                                    <label asp-for="Senha" class="form-label" for="basic-default-password12">Senha</label>
                                    <div class="input-group">
                                        <input asp-for="Senha" type="password"
                                               class="form-control"
                                               placeholder="Senha do Colaborador"
                                               aria-label="Username"
                                               aria-describedby="basic-addon11" />
                                    </div>

                                    <label asp-for="ConfirmarSenha" class="form-label" for="basic-default-password12">Confirme a Senha</label>
                                    <div class="input-group">
                                        <input asp-for="ConfirmarSenha" type="password"
                                               class="form-control"
                                               placeholder="Confirme a Senha"
                                               aria-label="Username"
                                               aria-describedby="basic-addon11" />
                                    </div>

                                    <div class="col-md">
                                        <label class="form-label">Função</label>
                                        <br />
                                       @* <div class="form-check form-check-inline mt-3">
                                            <input asp-for="Gerenciador" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label asp-for="Gerenciador" class="form-check-label" for="inlineRadio1">Gerenciador</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input asp-for="Responsavel" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label asp-for="Responsavel" class="form-check-label" for="inlineRadio2">Responsável</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Colaborador</label>
                                        </div>*@
                                    </div>
                                    <br />
                                    <button type="submit" class="btn btn-primary mt-3">Adicionar Colaborador</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>