@using Tickest.Models

<div>
    <h1>Detalhes do Ticket</h1>
    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Título:</dt>
        <dd class="col-sm-10">@Model.Titulo</dd>

        <dt class="col-sm-2">Descrição:</dt>
        <dd class="col-sm-10">@Model.Descricao</dd>

        <dt class="col-sm-2">Departamento:</dt>
        <dd class="col-sm-10">@Model.Departamento.Nome</dd>

        <!-- Adicione mais detalhes conforme necessário -->
    </dl>
</div>
