@using Tickest.Models.ViewModels;
@model DepartamentoEditViewModel;

@{
    Layout = "_LayoutGerenciador";
    ViewData["Title"] = "Tickest - Adicionar Departamento";
}


<div class="row">
    <form method="post">
        <!-- Basic -->
        <div class="col-md-6">

            <div class="card mb-4">
                <h5 class="card-header">Adicionar Departamento</h5>
                <div class="card-body demo-vertical-spacing demo-only-element form-group">
                    <label asp-for="Nome" class="form-label" for="basic-default-password12">Nome</label>
                    <div class="input-group">
                        <input asp-for="Nome" type="text"
                               class="form-control"
                               placeholder="Nome do Departamento"
                               aria-label="Username"
                               aria-describedby="basic-addon11" />

                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <label asp-for="ResponsavelSelecionado" class="form-label" for="basic-default-password12">Responsável pelo Departamento</label>
                    <div class="input-group">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.ResponsavelSelecionado, new SelectList(Model.ResponsaveisDisponiveis, "Id", "Email")
                            , new { @class = "form-control" })
                        </div>
                        <span asp-validation-for="ResponsavelSelecionado" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
                </div>
            </div>

        </div>
    </form>
</div>