@using Tickest.Models.ViewModels
@model DepartamentoEditViewModel

@{
    Layout = "_LayoutGerenciador";
    ViewData["Title"] = "Tickest - Adicionar Departamento";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div class="card mb-4">
                <h5 class="card-header">Adicionar Departamento</h5>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="form-label">Nome</label>
                        <input asp-for="Nome" class="form-control" placeholder="Digite o nome" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="GerenciadorSelecionado" class="form-label">Gerenciador do Departamento</label>
                        <select asp-for="GerenciadorSelecionado" asp-items="@Model.GerenciadoresDisponiveis.Select(p => new SelectListItem(p.Email, p.Id.ToString()))" class="form-control">
                            <option value="">Selecione o Gerenciador</option>
                        </select>
                        <span asp-validation-for="GerenciadorSelecionado" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="AnalistaSelecionado" class="form-label">Analistas do Departamento</label>
                        <select asp-for="AnalistaSelecionado" asp-items="@Model.AnalistasDisponiveis.Select(e => new SelectListItem(e.Email, e.Id.ToString()))" class="form-control">
                            <option value="">Selecione o Analista</option>
                        </select>
                        <span asp-validation-for="AnalistaSelecionado" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
                </div>
            </div>
        </form>
    </div>
</div>
