/* Cores */
:root {
    --cor-em-analise: #999999;
    --cor-em-desenvolvimento: #e6b13e;
    --cor-concluido: #6aa84f;
    --cor-cancelado: #f44336;
    --cor-primary: #696CFF;
    --cor-background: #f8f9fa; /* Cor de fundo padrão */
}

/* Estilos gerais */
.card-chat {
    height: 500px;
    border-radius: 15px !important;
    background-color: white !important;
    border: 1px solid var(--cor-primary);
}

.contacts_body, .msg_card_body {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: var(--cor-em-analise);
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .search:focus {
        box-shadow: none !important;
        outline: 0 !important;
    }

.type_msg {
    background-color: var(--cor-primary) !important;
    border: 0 !important;
    color: white !important;
    margin-top: 1px;
    height: 58px !important;
    overflow-y: auto;
}

    .type_msg::placeholder {
        color: white;
    }

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: var(--cor-primary) !important;
    margin-right: 1px;
    color: white !important;
    cursor: pointer;
    height: 60px;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: var(--cor-primary) !important;
    margin-left: 1px;
    color: white !important;
    cursor: pointer;
    height: 60px;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

    .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

.active-chat {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img, .user_img_msg {
    height: 60px;
    width: 60px;
    border: 1.5px solid #f5f6fa;
}

.img_cont, .img_cont_msg {
    position: relative;
    height: 70px;
    width: 70px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 13px;
    right: 13px;
    border: 1.5px solid white;
}

.offline {
    background-color: var(--cor-cancelado) !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255, 255, 255, 0.6);
    }

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

.msg_cotainer, .msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    color: white;
}

.msg_cotainer {
    margin-left: 10px;
    background-color: var(--cor-primary);
}

.msg_cotainer_send {
    margin-right: 10px;
    border: 1px solid var(--cor-primary);
    background-color: white;
    color: var(--cor-primary);
}

.msg_time, .msg_time_send {
    position: absolute;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time {
    left: 0;
}

.msg_time_send {
    right: 0;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
            }

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--cor-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50%;
}

    /* Handle ao passar o mouse */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

@media (max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
